 .table-wrapper-scroll-y {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    #divRootFolderContent > table > tr{
        cursor: pointer
    }
    #divMergeFolderContent > table > tr{
        cursor: pointer
    }
