<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cloud Manager</title>
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/file-processing.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>File processing
                    <a href="main.html" class="btn btn-primary btn-back float-right">
                        <i class="fa fa-chevron-left"></i>Back
                    </a></h2>

            </div>

            <div class="card-body">

                <div class="card-block" style="display: flex">
                    <a href="#" id="rootFolderSelect" class="btn btn-primary">Select root folder</a>
                    <input style="flex: 1" id="rootFolder" class="ml-1" readonly/>
                </div>

                <div id="cardRootFolderContent" class="card mt-1 mb-1">
                    <div class="card-header">
                        <h6>Root Folder Content</h6>
                    </div>
                    <div id="divRootFolderContent" class="card-body table-wrapper-scroll-y">
                    </div>
                </div>

                <div id="divOptions" class="card mt-1 mb-1">
                    <div class="card-header">
                        <h6>Options</h6>
                    </div>
                    <div class="card-body">
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="merge" checked> Merge files
                            </label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="videoCompress">Video Compress</label>
                        </div>

                    </div>

                </div>
                <div id="divMergeFiles" class="card mt-1 mb-1">
                    <div class="card-header">
                        <h6>Merge Files</h6>
                    </div>
                    <div class="card-body">

                        <div class="card-block" style="display: flex">
                            <a href="#" id="mergeDestFolderSelect" class="btn btn-primary">Select target folder</a>
                            <input style="flex: 1" id="mergeDestFolder" class="ml-1" readonly/>
                        </div>

                        <div id="cardMergeFolderContent" class="card mt-1 mb-1">
                            <div class="card-header">
                                <h6>Target Folder Content</h6>
                            </div>
                            <div id="divMergeFolderContent" class="card-body table-wrapper-scroll-y">
                            </div>
                        </div>

                    </div>

                </div>
                <div id="divVideoCompress" class="card mt-1 mb-1">
                    <div class="card-header">
                        <h6>Compress Videos</h6>
                    </div>
                    <div class="card-body">

                        <div class="card-block" style="display: flex">
                            <a href="#" id="videoCompressDestFolderSelect" class="btn btn-primary">Select target folder</a>
                            <input style="flex: 1" id="videoCompressDestFolder" class="ml-1" readonly/>
                        </div>

                        <div id="cardVideoCompressContent" class="card mt-1 mb-1">
                            <div class="card-header">

                                <h6 class="d-inline">Selected videos</h6>

                                <div class="d-inline pull-right align-top  ">
                                    <div class="d-inline form-check">
                                        <input type="checkbox" class="form-check-input  " id="checkFullScan">
                                        <label class="form-check-label" for="exampleCheck1">Fullscan processing</label>
                                    </div>
                                    <a id="btnVideoCompressRemoveAll" href="#" id="videoCompressDestFolderSelects" class="d-inline btn btn-sm btn-dark">Remove
                                        all
                                    </a>
                                </div>

                            </div>
                            <div id="divVideoCompressItems" class="card-body table-wrapper-scroll-y">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="card-footer"> 
                    <button id="buttonProcess" type="button" class="btn btn-primary btn-lg btn-block  "><i id="spinner" class="fa fa-cog "></i>Launch processing</button>
             </div>
        </div>
    </div>
    <div id="dummy" style="display:none;"></div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/tether/dist/js/tether.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../app/file-processing.js"></script>
</body>

</html>